* {
  margin: 0;
  padding: 0;
}

/* #e1e1e1 */

.navme a {
  color: #ffcc00;
  text-decoration: none;
  padding: 10px;
  position: relative;
}

.navme a:hover {
  color: #f00;
}

.navme a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f00;
  left: 0;
  bottom: -5px;
  transition: all 0.3s ease-in-out;
}

#logo {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

main {
  height: 100vh;
}

.container {
  margin-top: 40px !important;
}

.btn-outline-warning:hover {
  background-color: #f00 !important;
  border-color: #f00 !important;
}

#about-section {
  height: 100%;
}

#about-section p {
  font-size: 33px;
}

#experiences-section {
  height: 100% !important;
}

#skills-section {
  height: 100vh;
}
.container;
